* {
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    box-sizing: border-box;
}

/* Desktop view */
@media only screen and (min-width: 992px) {
    section {
        width: 33%;
        margin: 10px;
    }

    .row {
        display: flex;
    }

}

/* Tablet view */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    section:first-of-type {
        width: calc(50% - 10px);
        float: left;
        margin: 10px 10px 10px 0;
    }

    section:nth-of-type(2) {
        width: calc(50% - 10px);
        float: right;
        margin: 10px 0 10px 10px;
    }
    
    section:last-of-type {
        clear: both;
    }
}

/* Mobile view */
@media only screen and (max-width: 767px) {
    section {
        margin-top: 30px;
    }
}

.row {
    margin: 20px;
}

h1 {
    text-align: center;
    font-size: 175%;
    margin: 20px;
}

h2 {
    font-size: 125%;
    width: 6em;
    float: right;
    border-bottom: 3px solid black;
    border-left: 3px solid black;
    text-align: center;
}

p {
    padding: 10px;
    clear: right;
}

section:first-of-type h2 {
    background-color: pink;
}

section:nth-of-type(2) h2 {
    background-color: brown;
    color: white;
}

section:last-of-type h2 {
    background-color: bisque;
}

section {
    background-color: gray;
    border: 3px solid black;
}